# Ignore data files
*.npz
*.h5
*.tiff
*.tif
*.png

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment and dependency files
.env
.venv/
env/
venv/
*.egg-info/
*.egg
build/
dist/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
